@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');
:root{
	--wcc:#f4f4f4;
	--gyc:#777;
	--occ:#ffd84d;
	--lbc:#9ecfff;
	--lgc:rgba(85, 226, 101, 0.7);
	--vlgc:rgba(193, 255, 112, 0.3);
}

*{
	box-sizing:border-box;
}
body{

	height:100vh;

	display:flex;
	justify-content:center;
	align-items:center;

}
.container{

	font-family: 'Exo 2', sans-serif;

	width:480px;
	background-color:var(--vlgc);
	box-shadow:0 10px 25px rgba(0,0,0,0.3) ;

	border-radius:5px;
}

.container h2{
	font-family: 'Akaya Kanadaka', cursive;
	text-align:center;
}

.container .form{
	padding:30px 40px;

}
.form-group{
	margin-bottom:30px;
}

.form-group label{
	display:block;
	color:var(--gyc);
	margin-bottom:5px;
}

.form-group .form-control{
	font-family:inherit;
	width:100%;
	padding:10px;
	
}
.form .btn{
	font-family:inherit;
	width:100%;
	background-color: rgba(85, 226, 101, 0.7);
	color:#000;
	font-size:16px;
	cursor:pointer;

	border:0px;
	border-radius:5px;
	padding:10px;

	transition:background-color 0.8s, font-size 0.5s;
}

.form .btn:hover{
	background-color: var(--occ);
	font-size:35px;
}
.form .btn:active{
	background-color:var(--lbc);
}